test/test_data/images filter=lfs diff=lfs merge=lfs -text
test/test_data/metadata filter=lfs diff=lfs merge=lfs -text
test/test_data/mosaics filter=lfs diff=lfs merge=lfs -text
test/test_data/other filter=lfs diff=lfs merge=lfs -text
test/test_data/referenced_images filter=lfs diff=lfs merge=lfs -text
test/test_data/temp filter=lfs diff=lfs merge=lfs -text
test/test_data/feature_matching filter=lfs diff=lfs merge=lfs -text
